.navbar-nav > li > a
  padding-left: 12px
  padding-right: 12px

.nav > li > a:focus,
.nav > li > a:hover
  background-color: transparent

.table-striped > tbody > tr:nth-of-type(odd)
  background-color: #f2f2f2

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th
  border-top: none
  line-height: 20px
  padding: 15px
