.slick-vertical .slick-slide
  border-top: 10px solid #ffffff
  border-bottom: 10px solid #ffffff
  margin-bottom: 10px
  border-radius: 0 0 5px 5px
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)

.slick-slide img
  margin: auto