@import "src/fonts/fonts-woff"
@import "src/fonts/fonts-woff2"
@import "_bootstrap-skins"
@import "_slick-skins"

body
  font-family: 'tt_prosto_sansregular', sans-serif
  background-color: #fff
  font-size: 16px

nav.navbar.navbar-fixed-top
  background-color: #ffffff
  padding-bottom: 13px
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3)
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3)
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3)

.logo__link
  display: block
  padding: 23px 20px
  outline: none

.top-menu
  float: left
  width: 100%
  min-height: 1px
  padding-top: 20px

.top-menu__list-item
  margin-left: 23px

.top-menu__list-item:first-child
  margin-left: 0

.top-menu__list-link
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  color: #000000
  outline: none

.top-menu__list-link:hover .top-menu__list-link-label
  fill: #23527c

.top-menu__list-link-label
  width: 18px
  height: 18px

.about-us
  width: 100%
  text-align: right
  padding-top: 12px

.about-us__schedule
  font-family: 'tt_prosto_sanslight'
  font-size: 12px
  line-height: 22px
  margin: 0
  padding: 0 19px 0 0

.about-us__phone
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  color: #000000
  line-height: 22px
  padding: 0 19px 0 0

.about-us__phone:hover,
.about-us__phone:focus
  text-decoration: none

.about-us__phone-code
  font-family: 'tt_prosto_sansregular'

.catalog
  width: 100%
  padding: 5px 0
  text-align: center

.catalog__button
  display: inline-block
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  text-transform: uppercase
  text-decoration: none
  padding: 10px 23px
  background-color: #ff8400
  border-radius: 5px
  color: #ffffff

.catalog__button:hover,
.catalog__button:focus
  color: #ffffff
  text-decoration: none
  outline: none
  background-color: #fbac58

.search
  padding: 5px 10px

.search__field-box
  width: 100%
  border-radius: 5px
  border-left: none
  border-top: 2px solid #d7d7d7
  border-left: 1px solid #e9e9e9
  border-right: 1px solid #e9e9e9
  border-bottom: none
  background-color: #f2f2f2

.search__field
  background-color: transparent
  border: none
  padding: 8px 20px 10px
  font-size: 14px
  width: 94%

.search__field::-webkit-input-placeholder
  color: #000
  opacity: 1

.search__field::-moz-placeholder
  color: #000
  opacity: 1

.search__field:-ms-input-placeholder
  color: #000
  opacity: 1

.search__button
  background-color: transparent
  border: none
  margin: 0
  padding: 0
  vertical-align: middle

.search__button-ico
  width: 18px
  height: 18px

.user-init
  width: 100%
  text-align: right
  padding: 5px 0

.user-init__button
  display: inline-block
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  text-transform: uppercase
  text-decoration: none
  margin-right: 20px
  padding: 10px 17px
  background-color: #f2f2f2
  border-radius: 5px
  color: #000

.user-init__button:hover,
.user-init__button:focus
  text-decoration: none
  color: #000000
  background-color: #c2c2c2

.user-init__button-ico
  width: 11px
  height: 11px

.content
  margin-top: 124px
  padding: 30px

.breadcrumbs
  padding: 18px 0 0 30px

.breadcrumbs__home-button
  display: inline-block
  vertical-align: bottom
  text-decoration: none

.breadcrumbs__home-button:hover,
.breadcrumbs__home-button:focus
  text-decoration: none

.breadcrumbs__home-button-ico
  width: 15px
  height: 15px
  fill: #ff8400

.breadcrumbs__home-button:hover .breadcrumbs__home-button-ico,
.breadcrumbs__home-button:focus .breadcrumbs__home-button-ico
  fill: #fbac58

.breadcrumb__link
  display: inline-block
  vertical-align: bottom
  font-size: 12px
  color: #646464
  padding-bottom: 4px
  text-decoration: none

.breadcrumb__link:hover,
.breadcrumb__link:focus
  text-decoration: none
  outline: none

.breadcrumb__link:first-child
  margin-left: 15px

.breadcrumb__link:last-child
  color: #000000

.breadcrumb__separator
  display: inline-block
  margin: 0 5px
  padding-top: 2px
  color: #646464


/*Slider*/

.product-logo
  margin-top: 30px
  margin-left: 30px
  padding-top: 26px
  padding-left: 30px
  padding-right: 30px
  border-radius: 0 0 5px 5px
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)

.product-logo__product-title
  font-family: 'tt_prosto_sansbold'
  font-size: 24px
  color: #000000
  line-height: 28px
  margin: 0

.product-logo__vendor-code
  font-size: 12px
  color: #646464
  margin-top: 10px

.item-prev
  font-size: 0
  line-height: 0
  position: absolute
  top: - 30px
  left: 0
  display: block
  width: 100%
  height: 25px
  padding: 0
  cursor: pointer
  color: transparent
  border: none
  outline: none
  background: #ffffff
  z-index: 1
  border-radius: 5px 5px 0 0
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)

.item-prev:before
  position: absolute
  content: ""
  width: 28px
  height: 10px
  background: url("../img/prev-ico.png") no-repeat
  left: 30%
  top: 30%

.item-prev:hover
  background: #c2c2c2

.item-prev:hover:before
  background: url("../img/prev-ico-hover.png") no-repeat

.item-next
  font-size: 0
  line-height: 0
  position: absolute
  bottom: -25px
  right: 0
  display: block
  width: 100%
  height: 25px
  padding: 0
  cursor: pointer
  color: transparent
  border: none
  outline: none
  background: #ffffff
  border-radius: 0 0 5px 5px
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.15)


.item-next:before
  position: absolute
  content: ""
  width: 28px
  height: 10px
  background: url("../img/next-ico.png") no-repeat
  right: 25%
  top: 40%

.item-next:hover
  background: #c2c2c2

.item-next:hover:before
  background: url("../img/next-ico-hover.png") no-repeat

.product-right
  margin-top: 65px

.product-info__presence-block
  position: relative
  top: -30px
  text-align: right

.product-info__access
  font-size: 12px
  color: #646464
  line-height: 18px
  margin: 0

.product-info__access-ico
  font-weight: bold

.product-info__price-title
  font-size: 12px
  color: #646464
  margin: 0

.product-info__price
  font-family: 'tt_prosto_sansbold'
  font-size: 24px
  color: #000000
  margin: 0

.product-info__control-block
  margin:  0
  text-align: right

.product-info__control-field
  border-top: 2px solid #d7d7d7
  border-left: 1px solid #e9e9e9
  border-right: 1px solid #e9e9e9
  padding: 10px 0 10px 0px
  border-radius: 5px
  background-color: #f2f2f2
  width: 80px
  height: 39px
  text-align: center
  vertical-align: top

.product-info__control-button
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  color: #ffffff
  text-transform: uppercase
  margin-left: 20px
  padding: 8px 15px
  vertical-align: top
  border: none
  background-color: #ff8400
  border-radius: 5px

.product-info__control-button:hover
  background-color: #fbac58

.product-info__delivery-block
  margin: 0 -30px

.product-info__delivery
  font-family: 'tt_prosto_sansbold'
  font-size: 12px
  color: #005656
  background-color: #def8f8
  margin-top: 15px
  padding: 10px 30px 15px

.product-info__delivery-box-ico
  position: relative
  top: 2px
  display: inline-block
  vertical-align: bottom
  margin-right: 5px

.product-info__delivery-ico
  width: 25px
  height: 25px
  vertical-align: bottom
  fill: #005656

/*Slider End*/

.product-about
  margin-top: 30px

.product-about__preview
  background-color: #fff1e3
  border-radius: 5px
  padding: 18px
  font-size: 14px
  color: #964000

.product-about__table-brief
  font-size: 14px
  color: #000000
  margin-top: 11px

.product-about__table-brief-name,
.product-about__table-brief-value
  width: 50%
  border-right: 2px solid #ffffff

.product-more
  margin-top: 45px
  padding: 15px 0

.product-more__title
  font-family: 'tt_prosto_sansbold'
  font-size: 24px
  color: #000000
  text-align: center

/*Slider recommended products*/

.slider-product .slick-initialized .slick-slide
  display: flex

.slider-product .slick-list
  padding: 25px 0

.slider-product__item
  padding: 0 12px

.slider-product__product
  border-radius: 0 0 5px 5px
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.30)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.30)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.30)
  padding: 18px 20px


.slider-product__product-logo-box
  height: 165px

.slider-product__product-title
  margin-top: 15px

.slider-product__product-price
  font-family: 'tt_prosto_sansbold'
  margin-top: 30px

.slider-product__product-control
  margin-top: 17px

.slider-product__product-control-field
  border-top: 2px solid #d7d7d7
  border-left: 1px solid #e9e9e9
  border-right: 1px solid #e9e9e9
  padding: 10px 0 10px 0px
  border-radius: 5px
  background-color: #f2f2f2
  width: 80px
  height: 39px
  text-align: center
  vertical-align: top

.slider-product__product-control-button
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  color: #ffffff
  text-transform: uppercase
  margin-left: 20px
  padding: 8px 15px
  vertical-align: top
  border: none
  background-color: #ff8400
  border-radius: 5px

.slider-product__product-control-button:hover
  background-color: #fbac58
.product-item-prev
  font-size: 0
  line-height: 0
  position: absolute
  top: 30%
  left: 0
  display: block
  width: 30px
  height: 75px
  padding: 0
  cursor: pointer
  color: transparent
  border: none
  outline: none
  background: #ffffff
  border-radius: 0 5px 5px 0
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  z-index: 1

.product-item-prev:before
  position: absolute
  content: ""
  width: 10px
  height: 28px
  background: url("../img/product-prev-ico.png") no-repeat
  left: 25%
  top: 30%

.product-item-prev:hover
  background: #c2c2c2

.product-item-prev:hover:before
  background: url("../img/product-prev-ico-hover.png") no-repeat


.product-item-next
  font-size: 0
  line-height: 0
  position: absolute
  top: 30%
  right: 0
  display: block
  width: 30px
  height: 75px
  padding: 0
  cursor: pointer
  color: transparent
  border: none
  outline: none
  background: #ffffff
  border-radius: 5px 0 0 5px
  -webkit-box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  -moz-box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.15)
  z-index: 1

.product-item-next:before
  position: absolute
  content: ""
  width: 10px
  height: 28px
  background: url("../img/product-next-ico.png") no-repeat
  right: 25%
  top: 30%

.product-item-next:hover
  background: #c2c2c2

.product-item-next:hover:before
  background: url("../img/product-next-ico-hover.png") no-repeat


.slick-dots
  position: absolute
  bottom: -50px
  text-align: center
  width: 100%

.slick-dots li
  display: inline-block
  margin-left: 20px

.slick-dots li:first-child
  margin-left: 0

.slick-dots li button
  width: 10px
  height: 10px
  border-radius: 100%
  border: 1px solid #bbbbbb
  background-color: transparent
  color: transparent
  padding: 0

.slick-dots li:hover button
  border: 1px solid #ff9524

.slick-dots li.slick-active button
  background-color: #ff9524
  border: 1px solid #ff9524

/*Slider recommended products End*/

.attention
  margin-top: 80px
  margin-bottom: 70px
  padding: 20px

.attention__banner
  position: relative
  -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.20)
  -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.20)
  box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.20)

.attention__img
  width: 100%

.attention__banner-content
  position: absolute
  top: 0
  left: 0
  right: 0
  width: 100%
  height: 100%
  padding: 40px

.attention__banner-title
  font-family: 'tt_prosto_sansblack'
  font-size: 24px
  color: #ffffff
  text-transform: uppercase
  line-height: 28px
  margin-bottom: 5px

.attention__list
  list-style: none
  padding: 0

.attention__list-item
  color: #ffffff
  width: 65%

.attention__product-name
  color: #ffffff

.attention__button
  font-family: 'tt_prosto_sansbold'
  font-size: 14px
  color: #ffffff
  text-transform: uppercase
  margin-top: 20px
  padding: 8px 15px
  vertical-align: top
  border: none
  background-color: #00c0cc
  border-radius: 5px

.attention__button:hover,
.attention__button:active
  background-color: #04e9f7

/*Footer*/

footer
  background-color: #f2f2f2
  margin-top: 85px
  padding: 40px 0

.copyrighted__text
  font-size: 12px
  color: #646464
  margin-top: 20px

.footer__about-list
  list-style: none
  padding: 0

.footer__about-item
  margin-top: 8px

.footer__about-link
  font-size: 14px
  color: #646464
  margin-bottom: 20px
  text-decoration: none

.footer__about-link:hover,
.footer__about-link:focus
  text-decoration: none

.footer__phone-ico
  width: 15px
  height: 15px

.footer__location-ico
  width: 15px
  height: 15px

.footer__contacts-link
  font-size: 14px
  color: #646464
  text-decoration: none

.footer__contacts-link:hover,
.footer__contacts-link:focus
  text-decoration: none
  outline: none

.footer__contacts-link:nth-child(3)
  margin-left: 20px

.footer__contacts
  font-size: 14px
  color: #646464
  margin-top: 15px

.footer__social-ico-link
  display: inline-block
  text-decoration: none
  outline: none
  margin-left: 15px
  padding-top: 10px

.footer__social-ico-link:first-child
  margin-left: 0

.footer__social-ico-link:hover,
.footer__social-ico-link:focus
  text-decoration: none

.footer__social-ico-link:hover .footer__social-ico,
.footer__social-ico-link:focus .footer__social-ico
  fill: #3f729b

.footer__social-ico
  width: 40px
  height: 40px
  fill: #646464

.footer__payment-systems
  display: flex
  flex-wrap: wrap
  padding: 0 15px

.footer__payment-systems-logo
  margin-top: 65px
  margin-left: 45px

.footer__payment-systems-logo:first-child
  margin-left: 0

/*Footer End*/